body {
    padding-top: 5rem;
    background-color: lightblue;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
div[class*="col-"] {
    background-color: steelblue;
}
td {
    width: 10em;
}
.bt{
    margin-bottom: 2em;
}
p{
    text-align: center;
}